.meetsec{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
.title {
    color: grey;
    font-size: 18px;
    font-weight: 600;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .member-info-box a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    background-color: rgb(37, 37, 37);
  }







.parent-box{
    height:fit-content;
    padding: 1rem;
    background-color: rgba(240,240,240,.9); 
}

.msg{   
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.msg-sub-box{
   height: fit-content;
   padding: 1rem; 
}

.letter-image{
    width: 17rem;
    height: 14rem;
    float: right;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.members{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
@media(max-width:640px){
    .parent-box{
        padding: 0;
    }
}

.member-image{
  min-width: 10rem;
   height: 13rem;
}

.name-box{
    margin-bottom:2rem;
    font-size: 40px;
    font-weight: bolder;
}
.member-info-box p{
    min-width:inherit;
}
.member-info-box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    max-width: 300px;
    max-height: 403px;
    text-align: center;
    margin: 10px;
    line-height: 2em;
    border-radius: 10px;
    margin: 5vh;
}
#file{
    max-height: 255px;
}
.member-info-box img{
    max-height: 56%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
}

h2{
    padding: 1rem;
    border-bottom: 1px solid black;
    font-size: 36px;
}

